{% extends "admin/change_list.html" %}

{% block content_title %}

{% if descripcion %}

<style>
    .info-box {
        margin-bottom: 15px;
        background: #f6fbff;
        border-left: 4px solid #264b5d;
        padding: 12px;
        border-radius: 4px;
    }
    
    .info-box summary {
        cursor: pointer;
        font-weight: bold;
        font-size: 1.05em;
        list-style: none; 
        display: inline-block;
        background: #264b5d;
        color: white;
        padding: 6px 12px;
        border-radius: 4px;
        transition: background 0.2s ease;
    }

    .info-box summary:hover {
        background: #264b5d;
    }


    .info-box summary::after {
        content: "Ocultar información";
    }


    .info-box:not([open]) summary::after {
        content: "Mostrar información";
    }
</style>

<details open class="info-box">

    <summary></summary> <br><br>

    <strong>¿Qué encontrará aquí?</strong>
    <p>{{ descripcion }}</p>

    {% if que_puede_hacer %}
    <strong>¿Qué puede hacer aquí?</strong>
    <ul>
        {% for item in que_puede_hacer %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if acciones %}
    <strong>Acciones disponibles</strong>
    <ul>
        {% for accion in acciones %}
            <li>{{ accion }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if consideraciones %}
    <strong>Consideraciones importantes</strong>
    <ul>
        {% for consideracion in consideraciones %}
            <li>{{ consideracion }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</details>

{% endif %}

{{ block.super }}

{% endblock %}